<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta property="og:title" content="Julia Thea Full-stack Web Developer" />
  <meta property="og:type" content="website" />
  <meta property="og:image:url" content="https://images.unsplash.com/photo-1580894742597-87bc8789db3d?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2250&q=80" />
  <meta property="og:url" content="https://juliathea.com" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
  </script>
    <script src="../../public/js/script.js"></script>
  <link rel="stylesheet" href="css/style.css" />
  <title>Julia Thea Portfolio</title>
</head>
<body>
  <div class="container navbar" >
    <header>
      <div class="lgo" >
        <h1>JT</h1>
      </div>
      <nav class="navbar">
        <ul>
          <li><a href="#about">About Me</a></li>
          <li><a href="#work">Portfolio</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="https://drive.google.com/file/d/19FquLO88mIPxGO31UmrimqMjRUox04Kl/view?usp=sharing" target="_blank">Resume</a></li>
        </ul>
      </nav>
    </header>
  </div>
  <div class="container main-info-section">
    <div class="text">
      <h1>
        <span>H</span>
        <span class="m-left">i</span>
        <span class="m-left">,</span>
        <br>
        <span>I</span>
        <span class="m-left">'</span>
        <span class="m-left">m</span>
        <span class="name">J</span>
        <span class="m-left name">u</span>
        <span class="m-left name">l</span>
        <span class="m-left name">i</span>
        <span class="m-left name">a</span>
        <span class="name">T</span>
        <span class="m-left name">h</span>
        <span class="m-left name">e</span>
        <span class="m-left name">a</span>
        <span class="m-left">,</span>
        <br>
        <span>W</span>
        <span class="m-left">e</span>
        <span class="m-left">b</span>
        <span>D</span>
        <span class="m-left">e</span>
        <span class="m-left">v</span>
        <span class="m-left">e</span>
        <span class="m-left">l</span>
        <span class="m-left">o</span>
        <span class="m-left">p</span>
        <span class="m-left">e</span>
        <span class="m-left">r</span>
        <br>
      </h1>
      <!-- <p>JavaScript / ExpressJS / React</p> -->
      <a href="#contact">contact me</a>
    </div>

    <div class="profile-image">
      <img src="img/profile-image.png" alt="">
    </div>
  </div>

  <div class="container about" id="about">
    <h1>About</h1>
    <div class="about-me-info">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt doloremque eum magnam illum repellat delectus accusantium,
        of a <a href="#work">Something</a>
        corporis libero vero veritatis nulla enim illo.
      </p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt doloremque eum magnam illum repellat delectus accusantium,
        itaque odit blanditiis amet sed eos magni, corporis libero vero veritatis nulla enim illo.
      </p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto consequuntur consectetur officia eligendi neque modi!
         Labore ducimus aperiam ipsa nostrum ab culpa placeat,
        laboriosam vitae aspernatur facere blanditiis a quaerat.
      </p>
    </div>
    <img src="img/dotted-shape.png" alt="">
  </div>
  <div class="container work" id="work">
    <h1>Portfolio</h1>
    <div class="work-category">
      <button id="designing" onclick="showRequiredCategory(this)">JavaScript</button>
      <button id="animation" onclick="showRequiredCategory(this)">Ruby on Rails</button>
      <button id="project" onclick="showRequiredCategory(this)">React Projects</button>
    </div>

    <div class="category-designing showCategory">
      <a href=""><img src="img/1.png" alt=""></a>
      <a href=""><img src="img/2.png" alt=""></a>
      <a href=""><img src="img/3.png" alt=""></a>
      <a href=""><img src="img/2.png" alt=""></a>
      <a href=""><img src="img/3.png" alt=""></a>
    </div>
    <div class="category-animation hideCategory">
      <a href=""><img src="img/1.png" alt=""></a>
      <a href=""><img src="img/2.png" alt=""></a>
      <a href=""><img src="img/3.png" alt=""></a>
    </div>
    <div class="category-project hideCategory">
      <a href=""><img src="img/1.png" alt=""></a>
      <a href=""><img src="img/2.png" alt=""></a>
      <a href=""><img src="img/3.png" alt=""></a>
      <a href=""><img src="img/2.png" alt=""></a>
    </div>
  </div>

  <script>
    function postCall(event){
      event.preventDefault();
      var formData = {}
      var inputData = document.getElementById("contact-form").elements;
      for(var i = 0; i < inputData.length; i++){
        formData[inputData[i].name] = inputData[i].value;
      }

      $.post("/", formData,function(data, status){
        alert(data);

        // Implement later a popup message on the lower bottom corner of the page
        // var messageElement = document.getElementById("popupMessage");
        // messageElement.append(messageElement)
        // <div class = "messages"><h1 id="babesMessage"></h1></div>
        });
    }
  </script>

  <form onsubmit = "return postCall(event)" id="contact-form">

    <!-- <form onsubmit = "return postCall(event)"  action="/" id="contact-form" method="post" role="form"> -->

    <div class="container contact" id="contact">
      <h1>Contact</h1>
      <form>
        <input id="name"
        name="name"
        type="text"
        placeholder="Your name"
        required>
        <input     id="email"
        name="email"
        type="text"
        placeholder="Your email"
        required>
        <!-- <input type="email" placeholder="jdoe@email.com" disabled> -->
        <textarea cols="30" rows="10" id="message"
        name="message"
        placeholder="Enter your message here"
        required ></textarea>
        <input type="submit" placeholder="Submit Email">
      </form>
    </div>
  </form>
  <footer>
    <hr>
    <p>Built with ❤️ and ☕️ by Julia Thea</p>
  </footer>
  <!-- <script src="../../public/js/script.js"></script> -->
</body>

</html>
